@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
  margin: 0 auto;
  font-family: 'Comfortaa', cursive;
  height: 100vh;
  padding-left: 12%;
  padding-right: 12%;
}
p {
  font-family: 'Raleway', sans-serif;
}
.nav-bar-container {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px black solid;
}
nav {
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
}
header {
  height: 25%;
}
.top-nav img {
  height:20%;
  width: 20%;
}
.top-nav  {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px rgb(167, 160, 160) solid;
  padding: 6px;
  flex-direction: row;
  text-align: center;
}
.top-nav a {
  align-self: flex-end;
}
a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}
.form-element {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.login-create-card-container {
  display: flex;
  flex-direction: row;
}
.login-create-card-login-side {
  width: 50%;
  padding: 20px;
  border-right: 1px grey solid;
}
.login-create-card-create-side {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.login-create-card-create-side button {
  width: 80%;
}
.form-element input {
  height: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.form-element button {
  width: 50%;
  align-self: center;
  padding: 20px;
  font-size: 20px;
}
.form-element label {
  font-size: 18px;
}
button {
  font-family: 'Comfortaa', cursive;
  padding: 20px;
  cursor: pointer;
}
.login-create-card-container h2{
  font-size: 22px;
  margin-bottom: 4px;
}
.login-create-card-container h2:last-of-type {
  margin-bottom: 15px;
}
.create-account-form {
  width: 70%;
  display: flex;
}
.create-account-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-trail-header{
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left:20px;
  border-right: 2px black solid;
  padding-right: 20px;
}
.my-trail-header li {
  margin-bottom: 30px;
  list-style-type: none ;
  padding:10px;
  font-size: 20px;
}
.my-trail-header li:hover {
  border: 1px solid black;
  border-radius: 25px;
  cursor:grab;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.my-trail-header h3 {
  font-weight: bold;
  font-size: 25px;
}
.my-trail-header ul {
  padding:0;
}
.my-trail-contents {
  display: flex;
  flex-direction: row;
}
.pfp-circle {
  height: 150px;
  width: 150px;
  background-color: grey;
  border-radius: 50%;
}
.container {
  padding-top: 15px;
}
.my-trail-contents-container {
  width: 100%;
  padding-left: 25px;
}
.task-filers {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 20px;
  margin-bottom:15px;
}
.task-filers button {
  margin-right: 30px;
  padding: 10px;
  border: 1px black solid;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.my-trail-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.next-step-section, .completed-step-section {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow:auto;
  border-radius:25px;
}
.collapse {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 25px;
  width: inherit;
  text-align: left;
  outline: none;
  font-size: 15px;
  border:none;
}

.content {
  padding: 18px;
  overflow: hidden;
  background-color: white;
  width: inherit;
  height: inherit;
}

.type-of-task{
  border-radius: 25px;
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.task-to-complete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
  cursor:grab;
  margin-bottom: 20px;
}
.task-to-complete  p {
  margin: 0px;
  padding: 10px;
}
.task-to-complete:hover {
  background-color: rgb(208, 242, 208);
}
.small-article-image {
  height: 180px;
  width: 100%;
  background-color: grey;
  border: 1px solid black;
}
.large-image-article {
  height: 380px;
  width: 100%;
  background-color: grey;
  border: 1px solid black;
}
.top-articles-section{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  border-bottom: 1px black solid;
  padding-bottom: 15px;
}
.right-articles {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.left-article {
  padding-right: 15px;
}
.bottom-article-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}
.article-layout h1 {
  font-size: 20px;
  font-weight: bold;
}
.bottom-section-article {
  padding-right: 15px;
  border-right: 1px solid black;
}
.bottom-section-article:last-of-type {
  padding-right: 0px;
  border-right: none;
}

.right-article-small {
  margin-bottom: 15px;
}
footer {
  height:100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black;
  color: white;
  margin-top:15px;
}

.small-article-image img{
  height: 100%;
  width: 100%;
}
.large-image-article img{
  height: 100%;
  width: 100%;
}
.article-card{
  padding: 5px;
  border:1px white solid;
}
.article-card:hover{
  cursor: pointer;
  border:1px black solid;
}
.article-header {
  height:400px;
  display: flex;
  flex-direction: column-reverse;
}
.article-page-wrapper{
  margin-top: 15px;
  margin-bottom:15px;
}
.make-a-new-thought{
  background-color: white;
  height:100px;
  width: 100px;
  border: 1px black solid;
  border-radius:25px  ;
  cursor: pointer;
  -webkit-border-radius:25px  ;
  -moz-border-radius:25px  ;
  -ms-border-radius:25px  ;
  -o-border-radius:25px  ;
  padding:15px;
  margin-right: 15px;
}
.make-a-new-thought img {
  height: inherit;
  width: inherit;
}
.thought-card{
  border-radius:25px;
  cursor: pointer;
  width: 130px;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  -ms-border-radius:25px;
  -o-border-radius:25px;
  margin-right: 15px;
}
.thoughts-container{
  display: flex;
}
.thoughts-card-preview{
  height:100px;
  width:100px;
  border: 1px black solid;
  border-radius:25px  ;
  padding:15px;
}
.next-step-other-info{
  display: flex;
  flex-direction: row;
  margin-right:15px;
}
.next-step-other-info button {
  border-radius: 25px;
  margin-left:15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.type-of-task {
  margin-right: 15px;
}
.next-step-date {
  margin-right: 15px;
}
.trail-task-button img {
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;

}
.article-date {
  font-size: 16px;
}

.home-page-articles {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.welcome-to-trailmaker {
  display: flex;
  width: 100%;
}
.home-page-bottom-article {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid black;
}
.home-page-next-steps {
  width: 30%;
}
.home-page-next-steps-display{
  display: flex;
  flex-direction: column;
}
.pink {
  background-color: rgb(240, 137, 154);
}
.blue {
  background-color: rgb(9, 148, 255);
}
.green {
  background-color: rgb(63, 242, 182);
}
.purple{
  background-color: rgb(154, 29, 161);
  color:white;
}
.yellow {
  background-color: rgb(251, 251, 41);
}
.black{
  background-color: black;
  color:white;
}
.article-contents-wrapper {
  line-height: 2;
}
.article-contents-wrapper h2 {
  line-height: 1;
}
.article-contents-wrapper h3 {
  line-height: 1;
}
.home-page-articles h1{
  font-size:20px;
}
.home-page-articles {
  margin-right: 15px;
  padding-right: 15px;
  border-right: solid black;
}
.calendar-card-container {
  height: 100%;
  width: 100%;
}


.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  height: 80px;
  font-size: 15px;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 74px;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 20px;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 70px;
  align-items: center;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.article-layout-bottom-small-article{
  width:100%;
}
.article-layout-left-article {
  margin-right:15px;
  border-right: 1px solid black;
  padding-right: 15px;
}
.article-layout-right-article-card:first-of-type{
  border-bottom: 1px solid black;
}
.article-layout-right-article-card:last-of-type {
  margin-top: 15px;
}
.article-layout-bottom-small-article{
  margin-right: 8px;
  border-right: black solid 1px;
  padding-right:15px;
}
.article-layout-bottom-small-article:last-of-type{
  margin-right: 0px;
  border-right: 0px;
}
.home-page-bottom-article-cards:first-of-type{
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid black;
}
.thought-title-input {
  height:30px;
  width: 100%;
  border-radius: 10px;
  border: #929090 solid 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 15px;
}
textarea {
  height:200px;
  width: 100%;
  border-radius: 10px;
  border: #929090 solid 1px;
  margin-bottom: 15px;
}
.though-post-buttons button {
  margin-right: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}