@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
  margin: 0 auto;
  font-family: 'Comfortaa', cursive;
  height: 100vh;
  padding-left: 12%;
  padding-right: 12%;
}
p {
  font-family: 'Raleway', sans-serif;
}
.nav-bar-container {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px black solid;
}
nav {
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
}
header {
  height: 25%;
}
.top-nav img {
  height:15%;
  width: 15%;
}
.top-nav  {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}
