@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
}
p {
  font-family: 'Raleway', sans-serif;
}